[submodule "external/nativefiledialog-extended"]
	path = external/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "external/imgui_markdown"]
	path = external/imgui_markdown
	url = https://github.com/enkisoftware/imgui_markdown/
